@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --icon-size: 20px;
}

*, *:before, *after {
    box-sizing: border-box;
}

.column {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h3, h2, p {
    margin: 0;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.nav {
    z-index: 3;
    background: #1992D4;
    grid-row: span 2;
    color: #FFFFFF;
    padding: 15px;
    --icon-right-margin: 15px;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.logo-text {
    font-size: 1.4rem;
}

.logo-image {
    width: calc(var(--icon-size) * 1.8);
    margin-right: calc(var(--icon-right-margin) * 0.7);
}

.nav li {
    display: flex;
    align-items: flex-end;
}

.nav img {
    filter: brightness(0) invert(1);
}

.nav *:link, .nav *:visited {
    color: #FFFFFF;
}

.nav-image {
    width: var(--icon-size);
    height: auto;
    margin-right: var(--icon-right-margin);
    margin-left: 4px;
}

.nav-links, .nav-options {
    gap: 7px;
}

.nav-options {
    margin-top: 40px;
}


.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
    padding: 15px 30px 15px;
    box-shadow: 0px 3px 3px rgb(207, 207, 207);
    z-index: 2;
}

.header > * {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.search-wrapper {
    gap: 15px;
}

.search-btn {
    width: var(--icon-size);
    height: auto;
}

.search-field {
    width: 100%;
    border: none;
    background: #E2E8F0;
    border-radius: 20px;
    height: 25px;
}

.profile-wrapper {
    justify-content: flex-end;
    gap: 20px;
}

.profile-wrapper > img {
    width: 40px;
    height: auto;
}

.greet-wrapper {
    gap: 20px;
}

.greet-wrapper > img {
    width: 60px;
    height: auto;
}

.header-options {
    justify-content: space-between;
}

.header-options > button {
    background: #1992D4;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px 20px;
    background: #E2E8F0;
    gap: 25px;
}

.projects-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.card {
    background: #FFFFFF;
    padding: 20px 15px;
    border-radius: 8px;
    box-shadow: 2px 3px 5px rgb(211, 211, 211);
}

.card p {
    color: #636363;
}

.project {
    border-left: 8px solid #F0B429;
}

.project-interactions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.project-interactions > input {
    width: var(--icon-size);
    height: auto;
}

.trending-wrapper {
    gap: 15px;
    font-size: 0.8rem;
}

.trending-entry {
    display: flex;
    gap: 10px;
}

.trending-entry > img {
    width: 50px; 
    height: auto;
}